/*
selector {
  property:value;
}
*/
header, footer {
  height: 100px;
  width: 1000px;
  padding: 20px;
  background: #000066;
  color: white;
  font-size: 30px;
  text-align: center;
}

nav { 
  width:20%;
  height: 500px
  background: black;
  color: pink;
}

Section {
  width: 80%;
  height: 500px;
  background: gray;
}
  
footer {
  clear: both;
}
