/*
selector {
  property:value;
}
*/
header, footer {
  height: 100px;
  width: 100px;
  padding: 20px;
  background: #000066;
  color: white;
  font-size: 30px;
  text-align:center;
}

nav { 
  width:20%;
  height: 500px
  background: black;
  color: pink;
  padding-left: 20px;
  float:left;
}

Section {
  width: 70%;
  height: 500px;
  background: gray;
  float:right;
}

img {
  height: 100px;
  width: 100px;
}
  
footer {
  clear: both;
}
