header {
  background:blue;
  color:white;
  font-size:2em;/*32 pixels*/
  text-align:center;  
}

img {
  height:10em;
  weight:12em;
  border-radius:2em;
}

img:hover {
    border-radius:2em;
}
p{
  font-size"2md;
  font-style: italic;
}
#blue-paragraph{
  color:blue;
}
