body
{
  background: pink;
  }

h1,p{
  color:yellow;
  text-align: center;
}
img
{
  height:200px;
  width:200px;
  border-radius:200px;
}
img:hover{
  border-radius:0px;
}

#square{
  border-radius:0px;
}
.right {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

a:hover{
 text-decoration:none;
  color:yellow;
}
