
header { 
  background:silver;
  color:white;
  font-size:2em;
  font-family:monospace;
  text-align:center;
  /* em = 16px */
}
img {
 height:10em;
 width:12em;
 border-radius:2em;
 border-width:2em;
 border-style:solid;
 border-color:green;
}
 img hover {
   border-radius: 2em;
}

p {
  font-family:
  font-size: 20px;
  font-style: italic; bold;
}
#blue-paragraph {
   color:blue;
}
