
header { 
  background:silver;
  color:white;
  font-size:2em;
  font-family:monospace;
  text-align:center;
  /* em = 16px */
}
img {
 height:10em;
 width:12em;
 border-radius:0em;
 border-width:0em;
 border-style:thin;
 border-color:red;
}
 img hover {
   border-radius: 2em;
}

p {
   background-color:green;
   font-family: monospace;
   font-size: 16px;
   font-style: italic; bold;
}
#blue-paragraph {
   color:blue;
}
