header {
  background: purple;
  color: #F933FF;
  text-align: center;
  padding: 10px;
}
nav{
  line-height: 50px;
  background: pink;
  height:600px;
  width:120px;
  float:left;
  padding:5px;
}
section {
  width:330px;
  float:left;
  padding:15px;
}

footer{
  background:pink;
  color:#dddddd;
  clear:both;
  text-align:center;
  padding:5px;
}
a {
  color:red;
  text-decoration:none;
}
a:hover{
  color:yellow;
}
img{
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
  
