body {
    background: purple;
}

h1, p {  
    color:white;
    text-align: center;
}


img {
    height:200px;
    width:200px;
    border-radius: 200px;
}

img:hover {
    border-radius:0px;
}

a:hover {
    text-decoration:none;
    color:red
}     
 
