/*
selector {
  property:value;
}
*/
header, footer {
  height: 100px;
  width: 100%;
  padding: 20px;
  background: #6699ff;
  color: white;
  font-size: 30px;
  text-align: center;
}

nav {
  width: 20%;
  height: 500px;
  background: gray;
  color: purple;
  padding-left: 20px;
}

section {
  width: 80%;
  height: 500px;
  background: pink;
}

img {
  height: 200px;
  width: 200px;
}

footer {
  clear: both;
}

