/*
selector {
property: value;
}
*/
h1{
  display : block;
  font-size: 30px;
  color: green;
  font-weight: bold;
  font-family: "Bad Script";
}
img{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
p{
    font-size: 25px;
    color: orange;
    font-style: bold;
    font-family: "Raleway";
}
#fancy{
  font-size: 25px;
  color: pink;
  font-style: italic;
}
