/*
selector {
property: value;
}
*/
h1{
  font-size: 30px;
  color: green;
  font-family: "Bad Script";
}

h1:hover {
  font-family: "Courgette";
  color: blue;
}

img{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

p{
    font-size: 25px;
    color: orange;
    font-family: "Raleway";
}

#fancy {
  font-size: 25px;
  color: pink;
  font-style: italic;
}
