/*
selector {
property: value;
}
*/
h1{
  display : block;
  font-size: 30px;
  color: green;
  font-weight: bold;
}
img{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
p{
  color: orange;
}
#fancy{
  font-size: 25px;
  color: pink;
  font-style: italic;
}
