header{
  background: blue;
  color: white;
  text-align: center;
  padding: 10px;
  }
  nav{
    line-height: 50px;
    background: #cccccc;
    height: 600px;
    width: 120px;
    float:left;
    
