/*selector 
{  
property: value;
}
*/


header{
  background: blue;
  color: white;
  text-align: center;
  padding: 10px;
  }
  nav{
    line-height: 50px;
    background: #cccccc;
    height: 600px;
    width: 120px;
    float:left;
    padding:5px;
}

footer{
  background:blue;
  color: white;
  clear:both;
  text-align:center;
  padding:5px;
}

a{
  color: green;
  text-decoration: none;
}

a:hover {
  color: yellow;
}
img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
    
