/*
selector {
  property:value;
}
*/
a {
  color: pink;
  text-decoration: none;
}

a:hover {
  background: blue;
}

img {
  height: 12.5 em;
  width: 12.5 em;
}

#rounded-corners {
  border-radius: 12.5 em;
}
