/*
selector {
  property:value;
}
*/
header, footer {
  height: 100px;
  width: 500px;
  padding: 20px;
  background: #33cc33;
  color: purple;
  font-size: 30px;
  text-align: center;
}
  
nav {
  width: 20%;
  height: 500px;
  background: blue;
  color: purple;
  padding-left: 20px;
}

section {
  width: 80%;
  height: 500px;
  background: pink;
}

img {
  height: 200px;
  width: 200px;
}

footer {
  clear: both;
}
