/* 
selector {
  property: value;
}
*/

body {
  text-align: center;
  font-family: arial, verdana, san-serif;

}

img {
  border-radius: 10em;
  height: 10em;
  width: 10em;
}

img:hover {
  border-radius: 0;
}

#soft-corners {
  border-radius: 5%;
}

a {
  text-decoration: none;
  color: #FFB612;
}

a:hover {
  color: #ffffff;
  background: #FFB612;
}

h1 {
  font-size: 2em;
  color: #444444;
}

#sub-heading {
  font-style: italic;
  font-weight: lighter;
  font-size: 1em;
}


#grey-paragraph {
  color: grey;
}

