/* 
selector {
  property: value;
}
*/

img {
  border-radius: 10em;
  height: 10em;
  width: 10em;
  /* comment note for css */
}

img:hover {
  border-radius: 0;
}

a {
  text-decoration: none;
  color: #FFB612;
}

a:hover {
  color: #ffffff;
  background: #FFB612;
}


