/*
selector {
property:value; 
}
*/

header {
  background: blue; 
  color: white; 
  text-align: center; 
  padding: 10px; 
}

#pink {
  color: red; 
  font-size: 2em; 
  font-style: italic; 
}
  
nav {
  line-height: 50px; 
  background: #cccccc; 
  height:600px; 
  width: 120px; 
  float:right; 
  padding:5px; 
} 

section {
  width: 20.6em; 
  float:left;
  padding: 1em; 
}

#left-content {
  width:10em; 
  float:left; 
}

#right-content {
  width:9.6em; 
  float:right; 
}

#right-content img {
  height:10em; 
  width:10em; 
  border-radius:10em;
}

footer { 
  background:blue; 
  color:white; 
  clear:both; 
  text-align:center; 
  padding:5px; 
}

footer a { 
 text-decoration:none; 
  color:#ccc; 
  
} 

footer a:hover { 
 text-decoration:underline;  
}

footer #social { 
  height:1em; 
  width:1em; 
} 


