/*
selector {
  property:value;
}
*/
body {
  background: url(https://static.pexels.com/photos/4927/sea-beach-vacation-sand.jpg);
}
header, footer {
  height: 100px;
  width: 100%;
  padding: 20px;
  background: #33cc33;
  color: white;
  font-size: 30px;
  text-align: center;
}

nav {
  width: 20%;
  height: 500px;
  background: gray;
  color: purple;
  float:left;
}

section {
  width: 80%;
  height: 500px;
  background: pink;
  float:left;
}

img {
  height: 200px;
  width: 200px;
}

footer {
  clear: both;
}

