header {
  background:blue;
  color:green;
  text-align:center;
  padding:10px;
  }
nav {
    line-height:50px;
    background:turquoise;
    height:600px;
    width:120px;
    float:left;
    padding:15px;
  }
section{
  width:330px;
  float:left;
  padding:15px;
}

footer{
  background:blue;
  color:green;
  clear:both
   text-align:center;
  padding:5px;
}
a{
  color:baby blue;
  text-decoration:none;
}
a:hover{
  color:purple;
}
img{
  border-radius:100px;
  height:200px;
  width:200px
