/*
selector {
  property:value;
}
*/

body {
  background: url(https://static.pexels.com/photos/84941/pexels-photo-84941.jpeg);
}
  
header, footer {
  height: 100px;
  width: 100%;
  padding: 20px;
  background: #e600e6;
  color: black;
  font-size: 30px;
  text-align: center;
}

nav {
  height: 500px;
  width: 20%;
  background: gray;
  color: purple;
  float:left;
}

section {
  width: 80%;
  height: 500px;
  background: pink;
  float:left;
}

img {
 height: 200px;
  width: 200px;
}

footer {
  clear: both;
}
