/* 
selector { 
  property: value; 
}
*/ 

img{
  border-radius:10em;
  height:10em; 
  width:10em; 
}

img:hover {
  border-radius: 0;
}

#square-corners{
}
  border-radius: 0; 

a {
  text-decoration: none; 
  color: #cc33ff; 
} 

a:hover {
  color: #ffffff; 
  background:#cc33ff; 
}

#pink-paraghra {
 color: pink;  
}
