/*
selector {
  property:value;
  }
*/
header {
  background:blue;
  color: white;
  text-align: center;
  padding:.75em;
}
#green {
  color: red;
  font-size: 2em;
  font-style: italic;
}
nav {
  line-height: 3em;
  background:#cccccc;
  height:37em;
  width:7em;
  float:right;
  padding:.5em;
}
section {
  width:20.6em
  float:left;
  padding:1em;
  
}
#left-content {
  width:10em;
  float:left;
}
#right-content {
  width:9.6em;
  float:right;
  
}
#right-content img {
  height:10em;
  width:10em;
  border-radius: 10em;
}
footer {
  background:blue;
  color: white;
  clear:both;
  text-align: center;
  padding:.75em;
}
footer a {
  text-decoration: none;
  color: #ccc;
}
footer a:hover {
  text-decoration: underline;
}
footer #linkedinSocial {
  height:2em;
  width: 2em;
}
footer img {
  height:1em;
  width:1em;
}

