/*
selector {
  property:value;
  }
*/

header {
  background: #334748;
  color: white;
  text-align: center;
  padding: 10px;
}

#highlight {
  color: #00ddeb;  
}

nav {
  
}

section {
  
}

a {
  
}

a:hover {
  
}

footer {
  
}
