/*
selector {
  property:value;
  }
*/
body {
 padding: 0; 
}

header {
  background: #334748;
  color: white;
  text-align: center;
  padding: 10px;
}

#highlight {
  color: #fffc00;  
  font-style: italic;
  font-size: 2em;
}

nav {
  line-height: 3em;
  background: #b6baa3;
  height: 37.5em;
  width: 7.5em;
  float: left;
  padding: .8em;
}

section {
  width: 20.6em;
  float: left;
  padding: 1em;
}

#left-content {
  width: 10em;
  float: left;
}

#right-content {
  width: 9.6em;
  float: right;
}

#right-content img {
  height: 10em;
  width: 10em;
  border-radius: 10em;
}

footer {
  background: #666666;
  color: white;
  clear: both;
  text-align: center;
  padding: .8em;
}

footer a {
  text-decoration: none;
  color: #fffc00;
}

footer a:hover {
  text-decoration: underline;
}

footer #social {
 height: 1em;
  width: 1em;
}
