/*
selector {
property: value;
}
*/

img {
    border-radius:10em;
  height:10em;
  width:10em;
}
img:hover {
    border-radius: 0;
}
#square-corners {
}
a {
    text-decoration: none;
 color: #FF0000;   
}

a:hover {
    color: #ffffff;
    background: #cc33ff;
}

#pink-paragraph {
    color: pink;
}
