/*
selector {
property: value;
}
*/
h1 {
  font-size: 30px;
  color: red;
  font-family:"Bad Script";
}

img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

p {
  color: purple;
  font-family:"Raleway";
}

#fancy {
  font-size: 25px;
  color: pink;
  font-style: italic;
}

