body {
  background: url('https://static.pexels.com/photos/132204/pexels-photo-132204.jpeg');
  background-size: cover;
}

/* selector
property: value;
*/
h1 {
  font-size: 60px;
  color:green;
  
}
img {
  height: 200px;
  width: 200px;
}

img:hover {
  border-radius:200px;
  

