.backer, .spacing {

  background: #4d4d4d;
  color: #fff;
  border: .125em solid #ccc;
  padding: 1em;
  text-align: center;
}

.backer {
    margin-top:7em;
}

.spacing {
  margin-top:3.5em;
  /*adding spacing between columns*/
    -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1em; /* Firefox */
    column-gap: 1em;
}

#gold {
  color: gold;
}

button {
  border-radius: .5em;
  background: #737373; 
}
  
button a {
  color:gold;
}

button a:hover {
  text-decoration: none;
}



