h1 {
    font-size: 3em; 
    color:teal;
    text-align: center;
    display:none;
    }
p {
   font-style: italic;
   color: purple;
   display:none;
}
img {
  height: 15em;
   width: 15em;
  }
#mspaint {
  font-size: 2em;
  }
#round-picture{
  border-radius: 15em;
  }
button {
    padding: .75em;
    background: green;
    color: white;
    font-weight: 700;
}
button:hover {
    background: white;
    color: green;
}
div {
    height: 15em;
    width: 15em;
    border-radius: 15em;
}
#red {
    background: red;
}
#pink {
    background: pink;
}
#gold {
    background: gold;
}
