/* 
selector { 
  property:value; 
}
*/ 
body { 
  background: url('https://static.pexels.com/photos/2602/nature-field-summer-quantity.jpg'); 
  background-size:cover; 
  color: #fff; 
} 

h1 { 
  color:#000066;
} 

img { 
  height:200px; 
  width:200px; 
  border-radius:200px; 
} 

img:hover {
  border-radius:0px; 
}

p:hover { 
  background-color:yellow;
  font-style:italic;
  font-size:2em; 
}
