/*
selector {
  property:value;
}
*/
a {
  color: black;
  text-decoration: none;
}

a:hover {
  background:white;
}

body {
  background: url('http://img.archiexpo.com/images_ae/photo-g/4363-9171042.jpg');
  background-size:cover;
  color: #fff;
}
 
img {
  height: 12.5em;
  width: 12.5em;
}
  
#crop-circle {
  border-radius: 12.5em;
}

header {
  height: 128px;
  width: 512px;
  padding: 32px;
  background: #ffffff;
  color: black
}

nav

section

footer

#standard-paragraph-1 {
  x
}
