body {
  background: red;
}

img {
  height:200px;
  width:200px;
  border-radius:200px;
}

img:hover {
  border-radius:0px;
}

#square {
  border-radius:0px;
  height: 300px;
  width: 400px;
}

a:hover {
  text-decoration:none;
  color:white;
}
