/*
selector {
  property:value;
}
*/

body {
 background: url('https://static.pexels.com/photos/1043/red-building-industry-bricks.jpg');
 background-size:cover;
 color:#fff;
}

header {
  background:blue;
  color:black;
  text-align: center;
  padding: 15px;
  font-size: 30px;
}

nav {
  line-height: 50px;
  background: #ccc;
  height: 900px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
}

section {
  width: 300px;
  float: left;
  padding: 25px;
}


h1 {
  color:#ff33cc;
}

img, iframe {
  height:200px;
  width:200px;
  border-radius:200px;
}

img:hover {
  border-radius:0px
}

p {
 color:#ff0000; 
} 

p:hover {
  background:pink;
  font-style:italic;
  font-size:2em;
}
