/*
selector {
  property:value;
}
*/

body {
 background: url('https://static.pexels.com/photos/1043/red-building-industry-bricks.jpg');
 background-size:cover;
}

h1 {
  color:purple;
}

img {
  height:200px;
  width:200px;
  border-radius:200px;
}

img:hover {
  border-radius:0px
}

p:hover {
  background:pink;
  font-style:italic;
  font-size:2em;
}
