header {
background:blue;
color:white;
font-size: 2em;
/* 1em = 16 px */
text-align: center;
}

img {  
  height: 10em;
  width: 12em;
}

img:hover {
  border-radius: 2em;
}

p {
  font-style: italic;
  font-size: 2em;
}

#blue-paragraph {
  color:blue;
}
