/*
selector {
  property:value;
}
*/

h1 {
    color:blue;
}

img {
    height:200px;
    width:200px;
    border-radius:200px;
}

p:hover   {
    background-color:pink;
    font-style:italic;
    font-size:2em;
}
