/*
selector {
  property:value;
}
*/
body {
  background: url('https://static.pexels.com/photos/82256/pexels-photo-82256.jpeg');
  background-size:cover;
  color: #660033;
}

header {
    background:#df9fbf;
    color: blue;
    text-align: center;
    padding: 15px;
    font-size: 30px;
}

nav {
    line-height: 50px;
    background: yellow;
    height: 800px;
    width: 100px;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

section {
    width: 300px;
    float: left;
    padding: 25px;
}
h1 {
    color:#9900ff; 
}

img, iframe {
    height:200px;
    width:200px;
    border-radius:200px;
}

img:hover {
  border-radius:0px;
}

p:hover   {
    background-color:pink;
    font-style:italic;
    font-size:2em;
}


