header{
  background:pink;
    color:white;
  text-align: center;
  padding:;10px;
}
nav{
  line-height:600px;
  width:120px;
 float:left;
  padding:15px;
}
footer{
  background:pink;
    color:white;
    clear:both;
  text-align:center;
  padding:5px;
}
a{
  color:purple;
    text-decoration: none;
}
  a:hover{
    color:pink;
}
img{
  border-radius:100px;
  height:200px;
  width:200px;
}
  
