/*
selector {
property: value;
}
*/
h1 {
 font-size:30px;
 color:red;
}

img {
 height: 100px;
 width: 100px;
 border-radius: 100px;
}
p {
 font-size: 20px;
 color: orange;
}

#fancy {
 font-size: 25px;
 color: green;
 font-style: italic;
}


