/* 
selector {
property:value;
*/
header {
  background: #F08080;
  color: #8080f0;
  text-align: center;
  margin:10px;
}
#orange {
  color: red;
  font-size: 2 em;
}
nav{
  line-height: 3.2 em;
  background:#8080f0;
  height:37.5 em;
  width:7.5 em;
  float:right;
  padding:0.32 em;
}
section{
  width:20.6 em;
  float:left;
  padding: 1 em:
}

#left-content {
width:10 em;
  float: left;
}

#right-content {
width: 9.6 em;
  float: right;

}

  
