/* 
selector {
property:value;
*/
header {
  background: #F08080;
  color: #8080f0;
  text-align: center;
  margin:4 em;
}
#pink {
  color: red;
  font-size: 2 em;
}
nav{
  line-height: 3.2 em;
  background:#8080f0;
  height:37.5 em;
  width:7.5 em;
  float:right;
  padding:0.32 em;
}
section{
  width:20.6 em;
  float:left;
  padding: 1 em:
}

#left-content {
width:10 em;
  float: left;
}

#right-content {
width: 9.6 em;
  float: right;

}
#right-content img {
height:10em;
  width:10em;
  border-radius:10em;
  
}

footer{
background:pink;
  color:white;
  clear:both;
  text-align:center;
  padding:0.5 em;
}
footer a {
text-decoration: none;
  color:gray;
}
footer a:hover{
text-decoration:underline;
}
footer #social {
  height:1em;
  width:1em;
}

  
