header { 
  background:red; 
  color:white; 
  text-align: center; 
  padding: 10px;
}
nav{
  line-height: 50px;
  background: purple;
  width:20%;
  float:left;
  padding:5px;
}
section{ 
  width:70%;
  float:left;   
  padding:15px;
}
footer {    
  background:blue;
  color:pink;
  clear:both;
  text-align:center;
  padding;5px;
}
a {
  color:babyblue; 
  text-decoration:none;
}
a:hover{
  color:magenta;
}
img{
  border-radius:100px
  height:200px; 
  width:200px;
}
   
  
    
    
    

  
