



body {
 background: url('https://static.pexels.com/photos/40784/drops-of-water-water-nature-liquid-40784.jpeg');
 background-size: cover;
h1 {
 font-size:60px;
  color:green;
}
img {
  height: 200px;
    width:200px;
}
img:hover {
 border-radius:200px;
}



