header {
  background: #00ddeb;
  border-bottom-width: 1em;
  border-bottom-color: #b6baa3;
  color: white;
  text-align: center;
  padding: 10px;
  }
  
nav {
  line-height: 50px;
  background: #b6baa3;
  height: 600px;
  width: 120px;
  float: left;
  padding: 5px;
  }
  
section {
  width: 330px;
  float: left;
  padding: 15px;
  }
  
footer {
  background: #666666;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
  }
  
a {
  color: #00ddeb;
  text-decoration: none;
  }
  
a:hover {
  color: yellow;
  }
  
img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  }
  
