img {
  height:200px;
  width:200px;
  display:none;
}

header {
  background: yellow;
  padding: 20px;
  text-align: center;
  
}

h1 {
  display:none;
}

button {
  height: 100px;
  width: 300px;
  background: yellow;
}

p {
  display:none;
}
