/*
selector {
  property:value;
}
*/
body {
  background: url('https://static.pexels.com/photos/1486/wood-pattern-ground-parquet-floor.jpg');
  background-size:cover;
}

h1 {
  color:red;
} 

img {
  height:200px;
  width:200px;
  border-radius:200px;
}

img:hover {
    border-radius:0px;
}
p:hover {
  background:#ff0000;
  font-style:italic;
  font-size:2em;
}
