/*
selector {
  property:value;
}
*/
header, footer{
  height: 100px;
  width: 500px;
  
  padding: 20px;
  background: #4da6ff;
  color: white;
  font-size: 30px;
  text-align: center;
}
nav {
  width: 20%;
  height: 500 px;
  background: gray;
  color: purple;
  padding-left: 20px;
  float: left;
}
section{
  width: 70%;
  height: 500px;
  background: pink;
}
img {
  height: 200px;
  width: 200px;
}
footer {
  clear: both;
}

