header {
  background:blue;
  color:white;
  font-size:2em;
  text-align:center;
  /*comments*/
}

img {
 height:10em;
   width:12em;   
}

img:hover {
  border-radius:2em;
  {
    
    p{
    font-size:2em;
      font-style:italic;
    }
    #blue-paragraph{
      color:blue;
    }
    
  
