/*
selector {
  property:value;
}
*/
a {
  color: white;
  text-decoration: none;
}

a:hover {
  background: yellow;
}

img {
  height: 12.5em;
  width: 12.5em
}

#rounded-corners {
  border-radius: 12.5em;
}
    
